* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(223, 217, 217, 0.7);
    background: transparent;
    padding: 15px 30px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}


/* Style the logo */

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.logo span {
    color: #f4b400;
}


/* Style the navigation menu */

.menu-bar ul {
    list-style: none;
    display: flex;
}

.menu-bar ul li {
    margin: 0 15px;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.menu-bar ul li a:hover {
    color: #f4b400;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../videos/natur.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px);
    color: #161313;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}